<!-- Custom Header for Damage Dice Roller Application -->
<div class="my-header">
	<!-- Dice Icon Display - Shows miniature versions of all dice types -->
	<div class="dice-container">
		<img src="modules/damage-dice-roller/artwork/d4.png" alt="d4" />
		<img src="modules/damage-dice-roller/artwork/d6.png" alt="d6" />
		<img src="modules/damage-dice-roller/artwork/d8.png" alt="d8" />
		<img src="modules/damage-dice-roller/artwork/d10.png" alt="d10" />
		<img src="modules/damage-dice-roller/artwork/d12.png" alt="d12" />
		<img src="modules/damage-dice-roller/artwork/d20.png" alt="d20" />
	</div>

	<!-- Window Control Buttons - Close and Minimize functionality -->
	<div class="window-controls">
		<a class="close" title="Close">X</a>
		<a class="minimize" title="Minimize">-</a>
	</div>
</div>
